<p id="notice"><%= notice %></p>

<h1>Nos Produits</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
<!-- ok -->
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to 'détails', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


