<footer class="footer footer-big footer-white">
    <div class="container">
        <div class="content ">
            <div class="row  d-flex justify-content-between">


            </div>
        </div>
        <hr />
        <div class="copyright">
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> Legarant
        </div>
    </div>
</footer>