<div class="collapse navbar-collapse" data-nav-image="" data-color="orange">
<ul class="navbar-nav ml-auto">
<% if session[:contact_id] != nil %>
<a href="/mycontracts">mes contrats</a>
<a href="/products">tous nos produits d'assurance</a>
<a href="/contacts">Mes informations</a>
<a href="/">Logout</a>
<% else %> 
<a href="/">Login</a>
<% end %>  

</ul>
</div>

